*{
	margin: 0px;
	padding:0px;
	font-family: Arial;
}

html, body{
	min-height: 100%;
	height: 100%;
	background-color: #dddddd;
}

.contenedor{
	margin: auto;
	height: 100%;
	width: 100%;
	background-color: #DADFE1;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.cuerpo{
	height: 85%;
	width: 80%;
	min-width: 80%;
	max-width: 80%;
	margin: auto;
	padding: 1em; 
	overflow: auto;
	background-color: #ECECEC;
}

.encabezado, .pie{
	width: 100%;
	height: 10%;
	display: flex;
	display: -webkit-flex;
	background-color: #6C7A89;
}

.pie{
	margin-top: auto;
	height: 5%;
	display: flex;
	display: -webkit-flex;
}

.pie p{
	margin-left: auto;
	margin-right: 3em;
	margin-top:auto;
	margin-bottom: auto;
}

.logo{
	margin-left: 1em;
	float: left;
	font-size: 1.8em;
	font-weight: thin;
	display: flex;
	display: -webkit-flex;
}
/*
hecho por mi
 */
.categorias{

	display: flex;
	display: -webkit-flex;   
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	

}

/*
 hecho por mi
 */
.categorias ul{

list-style-type: none; 

}

/*
 hecho por mi
 */
.categorias ul>li{
	display: inline;
	margin-right: 1em;
}

/*
 hecho por mi
 */
.categorias a{
	font-size: 1.3em;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}
/*
 hecho por mi
 */
.categorias a:hover{
	font-size: 1.4em;
	color:#ECECEC;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}


.opciones{
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	margin-left: auto;
}

.opciones ul{
	float: right;
	margin-right: 2em;
	list-style-type: none; 
}

.opciones ul>li{
	display: inline;
	margin-right: 1em;
}

.encabezado div{
	margin-top:auto;
	margin-bottom: auto;
}

.encabezado a{
	text-decoration: none;
	color: black;
}

.logo a{
	color:#ECECEC;

}


.opciones a{
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}

.opciones a:hover{
	font-size: 1.1em;
	color:#ECECEC;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}